* {
  box-sizing: border-box;
}

body{
    background-color: rgb(95, 95, 95);
}

header{
    background-color: aliceblue;
}

footer{
    background-color: antiquewhite;
}

#bottom-widget, #bottom-widget-clone{
    background-color: aqua;
}

#drag-handle, #drage-handle-clone{
    background-color: azure;
}

#restaurant-data, #restaurant-data-clone{
    background-color: aliceblue;
}

#results-container, #results-container-clone{
    background-color: antiquewhite;
}

li{
    background-color: chocolate;
}

form{
    background-color: darkgray;
}

#search-container, #search-container-clone{
    background-color: blueviolet;
}