* {
  box-sizing: border-box;
}

body{
    background-color: rgb(95, 95, 95);
}

header{
    background-color: aliceblue;
}

footer{
    background-color: antiquewhite;
}

#bottom-widget{
    background-color: aqua;
}

#drag-handle{
    background-color: azure;
}

#restaurant-data{
    background-color: aliceblue;
}

#results-container{
    background-color: antiquewhite;
}

li{
    background-color: chocolate;
}

form{
    background-color: darkgray;
}